#!/usr/bin/env bash

################################################################################
# Aliases - Alias Management						   	    				   #
################################################################################


################################################################################
# PostgreSQL						   										   #
################################################################################
alias postgres_start='pg_ctl -D /usr/local/var/postgres -l /usr/local/var/postgres/server.log start'
alias postgres_stop='pg_ctl -D /usr/local/var/postgres stop -s -m fast'
alias postgres_reload='pg_ctl reload -D /usr/local/var/postgres -s'
alias postgres_status='pg_ctl status -D /usr/local/var/postgres -s'