#!/usr/bin/env bash

################################################################################
# Exports - Global Environment Variables                                       #
################################################################################

export ZSH="$HOME/Projects/dotfiles/zsh"

# Enables 256 color in terminal
export TERM="xterm-256color"
