#!/usr/bin/env bash

################################################################################
# Exports - Global Environment Variables                                       #
################################################################################

export ZSH="$HOME/Projects/dotfiles/zsh"

# Enables 256 color in terminal
export TERM="xterm-256color"

export JAVA_HOME=/Library/Java/JavaVirtualMachines/jdk1.8.0_202.jdk/Contents/Home
export GROOVY_HOME=/usr/local/opt/groovy/libexec
export M2_HOME=$HOME/.m2/
