"*":
  core:
    telemetryConsent: "no"
  editor: {}
  "exception-reporting":
    userId: "86b8c9aa-0176-4b38-97de-01c9aa482da2"
  rainglow:
    SelectSyntax: "hawaii-contrast-rainglow-syntax"
  welcome:
    showOnStartup: false
